button {
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 30px;
    color: $white;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.bookmark-button {
    display: flex;
    padding: 0px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;

    img {
        height: 46px;
    }

    &:hover {
        opacity: 0.5;
    }
}

.bookmark {
    color: $darkGray;
}

.bookmarked {
    color: $darkCyan;
    padding: 0px;
    padding-right: 20px;
}

.bookmark-span {
    margin-left: 20px;
}

.green-button {
    background-color: $moderateCyan;

    &:hover {
        background-color: $darkCyan;
    }
}

.disabled-button {
    background-color: $darkGray;
    
    &:hover {
        cursor: not-allowed;
    }
}

.content-buttons {
    
    a {
        background-color: $lightGray;
        color: $darkGray;
    }
}

// radio
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $black;
    font-weight: 700;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $moderateCyan;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}