.navbar {
    background-image: url("../images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    color: $white;

    .flex {
        justify-content: space-between;
    }

    ul {
        display: flex;
    }

    a {
        color: $white;
        font-weight: bold;
        padding: 10px;
        margin: 0 5px;
    }

    a:hover {
        border-bottom: 2px solid $white;
    }
}
