#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 50%;
    top: 2%;
    overflow: hidden; /* Enable scroll if needed */
    border-radius: 15px;
    max-width: 700px;
    // padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    transform: translateX(-50%);
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: $white;
    margin: 0;
    padding: 20px;
    width: 80%;

    .close-modal {
        &:hover {
            // color: $black;
        }
    }

    .about-option {
        margin-top: 20px;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid $lightGray;

        input[type=number] {
            border: 1px solid $lightGray;
            outline: none;
            padding: 15px 20px;
            border-radius: 30px;
            color: $black;
            font-weight: bold;

            &:hover {
                border-color: $moderateCyan;
                cursor: pointer;
            }
        }
    }

    .selected {
        border: 2px solid $moderateCyan;

        .primary {
            font-weight: bold;
        }
    }
  }

  .success-modal {
      display: none;
      position: fixed; /* Stay in place */
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 24%;
      text-align: center;
      line-height: 2;
      z-index: 30;
  }